@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,body{
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

.main{
    /* padding: 5px; */
    height: 100vh;
    width: 100%;
    background-color: #000000;
    border-radius: 30px;

}


.button{
    padding: 20px;
    width: 60px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row{
    margin: 8px 0;
}

.row input{
    width: 300px;
    font-size: 23px;
    margin: 0;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
}